<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mnet.chat.dao.EmoImageDAO">
	<select id="emo_image_list" resultType="EmoImageDTO">
		select * from emo_image
	</select>
</mapper>